<h2>Type: {{cloths.type}}</h2>
<br />
<h2>Color: {{cloths.color}}</h2>
<br />
<h2>Price:{{cloths.price}}</h2>
<br />
<h2>Cast:</h2>
<br />
{{#each cloths.cast}}
  <br />
  {{this.name}}
  <br />
{{/each}} 