<h2>Add new Cloths which you want to sell</h2>
<form action="/cloths/new" method="post">
  <input type="text" name="type" placeholder="name of the product" />
    <br />
  <input type="text" name="color" placeholder="color" />
    <br />
  <input type="number" name="price" placeholder="price" />
  <a href="/cloths/new"><button type="submit">Save advertisement</button></a>

</form> 

