<h2>Type: {{automobile.type}}</h2>
<br />
<h2>Color: {{automobile.color}}</h2>
<br />
<h2>Price:{{automobile.price}}</h2>
<br />
<h2>Cast:</h2>
<br />
{{#each automobile.cast}}
  <br />
  {{this.name}}
  <br />
{{/each}} 