<h2>Add new Vehicle which you want to sell</h2>
<form action="/automobile/new" method="post">
  <input type="text" name="name" placeholder="Vehicle name" />
  <br />
  <input type="text" name="model" placeholder="model" />
  <br />
  <input type="number" name="price" placeholder="price" />
  <br/>
  <input type="text" name="description" placeholder="description" />
  <br/>
  <input type="file" id="first_image" name="theImages" accept="image/png, image/jpeg" multiple>
  <br/>
  <a href="/automobile/new"><button type="submit">Save advertisement</button></a>

</form> 

